@media (min-width: 500px) {
  .container-1 {
    display: flex;

    /* align-items: flex-start; *SS/
    align-items: flex-end;
    align-items: center;
    /*flex-direction: column;*/
  }
  h1 {
    color: white;
  }
  h2 {
    color: white;
    line-height: 15pt;
  }
  h4 {
    line-height: 12pt;
  }
}
body {
  background-color: #2ea15a;
  padding: 0.2%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  text-overflow: normal;
  break-after: avoid;
}

.box-1 {
  flex: 1;
  order: 1;
  background-image: url(general_images/1.jpg);
  height: auto;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;

  flex-basis: 30%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box-2 {
  flex: 1;
  order: 2;
  width: 100%;
  align-self: flex-start;
  flex-basis: 70%;
  padding: 5%;
}

/*
.box-1 {
  flex-basis: 42%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.2%;
}


.box-2 {
  flex-basis: 58%;
  padding: 2%;
}
*/

.align {
  text-align: start;
}

.text-paragraph {
  justify-content: center;
  line-height: 12pt;
}
polygon {
  fill: white;
  transition: 1s fill;
}
polygon:hover {
  fill: burlywood;
}
.home {
  stroke-width: 1px;
  /* stroke-dasharray: 1; */
  fill-opacity: 60%;
}

.unit01 {
  stroke-width: 1px;

  fill-opacity: 60%;
}
.unit02 {
  stroke-width: 1px;

  fill-opacity: 90%;
}
.unit03 {
  stroke-width: 1px;

  fill-opacity: 90%;
}
.unit04 {
  stroke-width: 2px;

  fill-opacity: 90%;
}
.unit05 {
  stroke-width: 2px;
  fill-opacity: 90%;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-style: italic;
  font-size: 15pt;
  background-color: #00682b;
  padding: 0%;
}
#_x3C_Group_x5F_list_x3E_ {
  fill: #ffffff;
}
