body {
  padding: 20%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background-color: #2ea15a;
}
.ital {
  font-style: italic;
}
p {
  text-align: justify;
}
ul {
  list-style-type: none;
  text-align: left;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-style: italic;
  font-size: 15pt;
  background-color: #00682b;
  padding: 0%;
}
ul a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-style: italic;
  font-size: 15pt;
  background-color: #00682b;
  padding: 0%;
}

ul .interfacelink a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-style: italic;
  font-size: 10pt;
  background-color: #00682b;
  padding: 0%;
}

.containerHover {
  position: relative;
  width: 100%;
  text-align: center;
}

.pics {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
}

.containerHover:hover .pics {
  opacity: 0.3;
}

.containerHover:hover .middle {
  opacity: 0.6;
}

.text01 {
  background-color: #dc9806;
  color: white;
  font-size: 20px;
  padding: 1%;
  text-align: left;
}



